*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: black;
}

.container{
    height: 95vh;
    width: 310px;
    margin: 20px auto;
    border: 2px solid #323336;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
}

input{
    flex-grow: 1;

    margin: 20px;
    border: 2px solid black;
    border-radius: 20px;
    outline: none;
    background-color: black;
    color: beige;
    outline: none;

    padding: 10px;
    font-size: 40px;
    text-align: right;
}

.button-grid{
    flex-grow: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    
    gap: 5px;
    margin: 10px;
}

button{
    border-radius: 50%;
    border: 2px solid black;
    outline: none;

    background-color: #1b1b1b;
    font-size: 31px;
    color: beige;

    cursor: pointer;
}

.grey-btn{
    background-color: #5d5d5e;
    color: black;
}

.orange-btn{
    background-color: rgb(243, 113, 7);
}

.zero-btn{
    grid-column: span 2;
    border-radius: 80px;
}
